body {
    font-family: sans-serif;
    margin: 0;
}

.h {
    display: none;
}

a {
   color: #ff4;
   text-decoration: none;
   text-shadow: #fff 0 0 8px;
}

h1 {
    padding: 5%;
}

#p {
    height: 100%;
}

#p, #h {
    width: 100%;
    min-height: 100%;
    text-align: center;
}
