body {
    font-family: sans-serif;
    margin: 0;
    color: #ddd;
}

.h {
    display: none;
}

.t, #i, #c, #s {
    display: inline-block;
}

a, #s {
   color: #ff8;
   text-decoration: none;
   text-shadow: #fff 0 0 8px;
}

.r1 {
    color: #f66;
}

.r2 {
    color: #66f;
}

.r3 {
    color: #6f6
}

#h, .t {
    text-align: center;
}

h1 {
    padding: 5%;
}
h2 {
    margin: 1%;
}


#i {
    overflow: auto;
}

#i, #c {
    height: 100%;
}

#p, #h {
    width: 100%;
    min-height: 100%;
}

#i, #s {
    background-color: #445;
    width: 24vw;
}

#c {
    width: 75%;
    margin-right: .5%;
}

.t {
    border: .5vw solid #fd0;
    margin: .5vw;
    overflow: hidden;
    width: 10vw;
    height: 10vw;
}

@media (max-aspect-ratio: 4/3) {
    #i {
        height: 32%;
    }

    .t {
        width: 13vh;
        height: 13vh;
    }

    #c {
        height: 67%;
        margin: 0;
        margin-bottom: .5%;
    }

    #i, #c {
        width: 100%;
    }

}
